@import "../../global.scss";

.topbar{

    width: 100%;
    height: 70px;
    background-color: $mainColor;
    color: pink;
    position: fixed;
    top: 0;
    /*keeps top bar in place during scroll*/
    z-index: 2;

    .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .left {
            .logoImage {
                height: 30px; /* Adjust as necessary */
                width: 3px; /* Adjust as necessary */
            }
                .logo {
                    font-size: 40px;
                    font-weight: 700;
                    text-decoration: none;
                    color: inherit;
     
                }
        }
    }
}