.intro {
    position: relative;
    background-color: #513edf; /* This will be a fallback color */
    overflow: hidden; /* This ensures the pseudo-element stays within the bounds of the parent */

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-image: url('./introBg.JPG'); /* Path to your background image */
        background-size: 1000px 800px;
        /*background-size: cover;  This will ensure the image covers the entire div */
        background-position: center; /* This will center the image */
        background-repeat: no-repeat; /* This will prevent the image from repeating */
        opacity: 0.6; /* Adjust the opacity as needed */
        z-index: 1; /* Ensure the image is behind the content */
    }

    /* Ensure the text is above the pseudo-element */
    #intro {
        position: relative;
        z-index: 2;
    }
}

/*learn how to style font!*/
.intro p {
    color: #000; /* Change the color to your desired font color */
    font-size: 104px; /* Change the size to your desired font size */
    /* Additional text styles */
}
