/* Global styles - not using it for now
body {
    font-family: 'Arial', sans-serif;
    background-color: #e58f8f;
  }
  
  #root {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e58f8f;
  }
  */

  